# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    
     if b % a ==0 :
            
        print (a)
     else :
        print (b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [24]:
def makes_twenty(n1,n2):
    
    sum =n1 +n2
    
    if sum == 20 or n1 ==20:  
        
        print (" ture")
    
    else :
        
        print ('fulse')

In [25]:
# Check
makes_twenty(20,10)

 ture

In [19]:
# Check
makes_twenty(2,3)

fulse

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [34]:
#the name function is old macdonld

def old_macdonald(name):
    #he is select the no is captal
    
    first = name[0]
    
    mid = name[1:3]
    
    second = name[3]
    
    normail = name[4:]
    #
    return first.upper() + mid + second.upper() + normail

In [35]:
# Check 
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [83]:
def almost_there(n):
    return abs (n)

In [84]:
# Check
almost_there(104)

104

In [85]:
# Check
almost_there(150)

150

In [86]:
# Check
almost_there(209)

209

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [41]:

def has_33(nums):
    
    for i in range(len(nums)-1):    
        
        if nums[i:i+2] == [3,3]:      #compere between two parmatar
            
            return True               #the same retrun ture
        
    return False

In [87]:
# Check
has_33([1, 3, 3])

True

In [43]:
# Check
has_33([1, 3, 1, 3])

False

In [44]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [81]:
def repeatCharacters(word):
    result=""
    
    for letter in word:
          
            result+=letter*3
            
    return result

In [82]:
# Check
sample='Hello'
print(repeatCharacters(sample))

HHHeeellllllooo

In [62]:
# Check
sample='Mississippi'
print(repeatCharacters(sample))

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [88]:
def blackjack(a,b,c):
    for i in range(0,12):
        
        if sum((a,b,c)) <= 21:
            
            return sum((a,b,c))
        
        elif sum ((a,b,c)) > 21 and 11 in (a,b,c):
            
            if a == 11:
                a -= 10
                
                continue
                
                if b == 11 and sum((a,b,c)) > 21:
                    b -= 10
                    
                    continue
                    
                    if c == 11 and sum((a,b,c)) > 21:
                        c -=10
                        
                        break
                        
                        return sum((a,b,c))

        else:
            return 'Bust'

In [89]:
# Check
blackjack(5,6,7)

18

In [90]:
# Check
blackjack(9,9,9)

'Bust'

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [79]:
def summer_69(arr):
    list1 = arr
    summ = int()
    
    for i in range(0, len(arr)):
        
        if 6 in list1:
            list = range(list1.index(6), list1.index(9) + 1)
            
            for index in list:
                    
                    print(list)
                    
                    arr[index] = 0
            
            if 6 != arr[i]:
                summ += arr[i]
            
            else:
                continue
        else:
            
            summ += arr[i]
            
    return summ

In [80]:
# Check
summer_69([1, 3, 5])

9

In [65]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

range(2, 6)
range(2, 6)
range(2, 6)
range(2, 6)

9

In [66]:
# Check
summer_69([2, 1, 6, 9, 11])

range(2, 4)
range(2, 4)

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [67]:
def spy_game(nums):
    for i in range(0,len(nums)):
        
        if nums[i] == 0
        :
            for x in range(i+1,len(nums)):
                
                if nums[x] == 0:
                    
                    for y in range(x+1,len(nums)):
                        
                        if nums[y] == 7:
                            
                            
                            return True
                else:
                    
                    return False

In [68]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [69]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [70]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [73]:
def count_primes(num):
    
    
    counter = 0
    
    for n in range(2,num+1):
        prime=True
        
        for i in range(2,n):
            if(n%i == 0):
                
                prime=False
                break
                
        if prime:
            
            counter = 1+ counter
            
    return counter

In [74]:
# Check
count_primes(100)

25

## Great Job!